body {
    font-family: 'Roboto', sans-serif;
    background-color: #d1d1d18f;
    }

    .navbar, footer {
    background-color: #003366; /* Azul escuro */
    height: 4rem;
    }

    .navbar a,
    footer {
    color: #fff !important;
    }

    .btn-custom-outline {
    border-color: #fff;
    color: #fff;
    }

    .btn-custom-outline:hover {
    border-color: #fff;
    background-color: #00000070;
    }

    .btn-custom-fill {
    border-color: #fff;
    color: #fff;
    }

    .btn-custom-fill:hover {
    border-color: #fff;
    background-color: #00000070;
    }

    .container-investimento {
    padding: 20px 0;
    }

    .investment-item {
    margin-bottom: 20px;
    }

    section.container {
    max-width: 800px;
    }

    section.container h1 {
    font-weight: 700;
    }

    section.container p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.carousel-item img {
    width: 500px;
    height: 350px;
    object-fit: fill;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

/* Fonte para títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', 'Roboto', Arial, sans-serif;
    font-weight: 700;
}

/* Fonte para parágrafos e textos gerais */
body, p, .lead, li, a, button, label, input, textarea {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
}

/* Corrige a posição dos botões de controle do carrossel */
.carousel-control-prev,
.carousel-control-next {
    width: 5%; /* reduz a largura do botão, evitando sobreposição grande */
    height: 100%; /* ocupa toda a altura para fácil clique */
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1; /* leve transparência para não tapar o conteúdo */
    transition: opacity 0.3s;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    opacity: 1;
}

/* Opcional: para puxar os botões um pouco para fora */
.carousel-control-prev {
    left: 0px;
}

.carousel-control-next {
    right: 0px;
}

/* Em telas pequenas, não empurre muito para fora */
@media (max-width: 768px) {
    .carousel-control-prev {
    left: 0;
    }
    .carousel-control-next {
    right: 0;
    }
}

/* Suaviza a transição do movimento de slide */
.carousel-item {
    transition: transform 0.7s ease-in-out; /* duração e tipo de transição */
}

